body {
  background-image: url('./images/BGpic1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: overlay;
  }

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #faa;
  height: 70px;
  width: 400px;
  padding: 10px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  font-weight: bolder;
  font-size: 20px;
  }

.nameBanner {
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  opacity: 0.5;
}

.h3Footer {
  text-align: end;
}

a {
  color: white;
}

a:hover {
  color: black;
}

.footer {
  background-color: #faa;
}

.socialFooter {
  padding-left: 5px
}

.fafooter {
  padding: 0px 10px;
  word-wrap: normal;
  display: inline-block;
}

.profilepic {
  height: 25%; 
  width: 25%; 
  display: block;
}

.h6About {
  text-align: end;
}

.aboutBox {
  margin: 30px;
  padding-bottom: 100px;
  opacity: 1.5;
}

.aboutSection {
  background-color: #E5DBE6; 
}

.aboutEmailLink {
  color: black;
}

.aboutResumeLink {
  color: lightslategray;
  font-size: 20px;
}

.copyright {
  padding-top: 10px;
  margin-top: 5px;
  font-size: 15px;
  color: gray;
}

.card {
  text-align: center;
  margin: 5px;
  display: inline-flex;
  justify-content: space-between;
}

.portfolioBtn {
  border: 1px solid #faa;
  color: gray;
}

.portfolioBtn:hover {
  color: white;
  background-color: #faa;
}

.contactBtn:hover {
  background-color: #faa;
}

img.card-img-top {
  width: "50px";
}